In [99]:
import pandas as pd
data=pd.read_csv("play_tennis (2).csv")
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [9]:
yes=data.value_counts(data['play'])[0]
no=data.value_counts(data['play'])[1]
yes,no

(9, 5)

In [74]:
gp1=data.groupby('play').get_group('Yes')
gp2=data.groupby('play').get_group('No')
len(gp1)

9

In [177]:
sunny_yes=data[data['outlook']=='Sunny']
s_y=sunny_yes[sunny_yes['play']=='Yes']['play'].count()

sunny_no=data[data['outlook']=='Sunny']
s_n=sunny_no[sunny_yes['play']=='No']['play'].count()

rain_yes=data[data['outlook']=='Rain']
r_y=rain_yes[rain_yes['play']=='Yes']['play'].count()

rain_no=data[data['outlook']=='Rain']
r_n=rain_no[rain_no['play']=='No']['play'].count()

over_yes=data[data['outlook']=='Overcast']
o_y=over_yes[over_yes['play']=='Yes']['play'].count()

over_no=data[data['outlook']=='Overcast']
o_n=over_no[over_no['play']=='No']['play'].count()

In [207]:
hot_yes=data[data['temp']=='hot']
hot_y=hot_yes[hot_yes['play']=='Yes']['play'].count()

hot_no=data[data['temp']=='hot']
hot_n=hot_no[hot_yes['play']=='No']['play'].count()


mild_yes=data[data['temp']=='mild']
mild_y=mild_yes[mild_yes['play']=='Yes']['play'].count()

mild_no=data[data['temp']=='mild']
mild_n=mild_no[mild_no['play']=='No']['play'].count()


cool_yes=data[data['temp']=='cool']
cool_y=cool_yes[cool_yes['play']=='Yes']['play'].count()


cool_no=data[data['temp']=='cool']
cool_n=cool_no[cool_no['play']=='No']['play'].count()

In [215]:
high_yes=data[data['humidity']=='high']
high_y=high_yes[high_yes['play']=='Yes']['play'].count()

high_no=data[data['humidity']=='high']
high_n=high_no[high_no['play']=='No']['play'].count()

nor_yes=data[data['humidity']=='normal']
nor_y=nor_yes[nor_yes['play']=='Yes']['play'].count()

nor_no=data[data['humidity']=='normal']
nor_n=nor_no[nor_no['play']=='No']['play'].count()

In [210]:
str_yes=data[data['wind']=='Strong']
str_y=str_yes[str_yes['play']=='Yes']['play'].count()

str_no=data[data['wind']=='Strong']
str_n=str_no[str_no['play']=='No']['play'].count()

weak_yes=data[data['wind']=='Weak']
weak_y=weak_yes[weak_yes['play']=='Yes']['play'].count()

weak_no=data[data['wind']=='Weak']
weak_n=weak_no[weak_no['play']=='No']['play'].count()

In [212]:
p_s_y=s_y/yes
p_s_n=s_n/no
p_r_y=r_y/yes
p_r_n=r_n/no
p_o_y=o_y/yes
p_o_n=o_n/no

In [214]:
p_h_y=hot_y/yes
p_h_n=hot_n/no
p_m_y=mild_y/yes
p_m_n=mild_n/no
p_c_y=cool_y/yes
p_c_n=cool_n/no

In [217]:
p_high_y=high_y/yes
p_high_n=high_n/no
p_norm_y=nor_y/yes
p_norm_n=nor_n/no

In [227]:
p_str_y=str_y/yes
p_str_n=str_n/no
p_weak_y=weak_y/yes
p_weak_n=weak_n/no

In [234]:
from sklearn.model_selection import train_test_split
#defining arguments for splitting
x=data.drop('play',axis=1)
y=data['play']

In [235]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_test

    day   outlook  temp humidity    wind
8    D9     Sunny  Cool   Normal    Weak
6    D7  Overcast  Cool   Normal  Strong
13  D14      Rain  Mild     High  Strong